<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>LoginPage</title>
    
    
    
    
        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <form id="login_page">
<fieldset class="fieldset_border">
  <legend>Login details</legend>
    <ul>
      <li>
        <label class="required">
          <div>UserName</div>
          <input type="text" name="userName" required>
        </label>
      </li>  
      <li>
        <label class="required">
          <div>Password</div>
          <input type="password" name="password" required>
        </label>
      </li>
      <li>
        <label class="required">
          <div>Confirm Password</div>
          <input type="password"
          name="confirm_password" required>
        </label>
      </li>
  </ul>
 
</fieldset>
  <div>
            <input type="submit" class="submit_btn" value="Submit">
        </div>
  </form>
    
    
    
    
    
  </body>
</html>
