<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>AboutMe</title>
    
    
    
    
        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <div id="container>"
     <div id="header">
  <h3>Natalie Vaslavsky</h3>
</div>   
<div class="figure floatright"><img
               src= "http://imgur.com/SLjieBq.jpg" alt="Me" width="250" height="250">
               <img
               src= "http://imgur.com/eU6azXk.jpg" alt="Sparke" width="180" height="250">
      <div><h4>About me</h4></div>
                                      
  <div>
<div id="content">
    <p>I am Natalie Vaslavsky. I live in Baltimore Maryland.
I have come to United States from Former Soviet Union (city Odessa on the Black sea).</p>
<p>The most enjoyable experience for me when I feel that I accomplish something significant. 
For example, when I run race and get placed especially if it is first place; If I solve 
  task at work, when everybody thought that this is impossible to do.</p>
<p>I like to watch movies, Australian, French, Wimbeldon and U.S. Open. I love to play with my grandchildren.
I also like to be outside, especially, I am really enjoying to walk with my dog Sparke.
  </p> 
  </div>   
</div>
    
    
    
    
    
  </body>
</html>
