<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>CreditCard</title>
    
    
    
    
        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <form id="credit_debit_form">
<fieldset class=fieldset_border>
  <legend>Credit/Debit Card Form</legend>
  <ul>
    <li>
      <label class="required">
        <div>Name on Card</div>
          <input name="card_name" required>
      </label>
    </li>
    <li>
      <label class="required">
        <div>Credit Card No</div>
        <input name="card_number" pattern="[0,9]{13,16}"
               maxlength="16" reqquired title="13-16 digits no space"
      </label>
   </li> 
   <li>
     <label class="required">
       <div>Expiry Date</div>
       <input type="month" name="card_expiry" maxlength="7"
              placeholder="yyyy-mm" required value="2016-07"
     </label>
   </li>
   <li>  
     <label class="required">
       <div>CVV2 No.</div>
       <input name="card_cvv" class="cvv" maxLength="3"
              pattern="[0,9] {3}" required title="exactly 3 digits">
       <span>Three digit code at the back on the back of the card</span>
     </label>
    </li>
  </ul> 
  </form>
    
    
    
    
    
  </body>
</html>
